.cardContainer {
    background-color: lightcyan;
    color: darkslategray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: auto;
}

.cardContainer span {
    flex: 0 0 25%;
}

.active {
    color: green;
}

.active:hover {
    color: white;
    background-color: orangered;
    cursor: pointer;
}

.cancelled {
    color: red;
}
