.landing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/3.webp");
    background-size: cover;
    background-position: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.landing-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 430px;
  height: 600px;
  position: relative;
  animation: fadeIn 3.5s ease, slideUp 3.5s ease;
  
}



.landing-content {
    text-align: center;
    color: #279d2e;
    display: flex; 
    flex-direction: column;
    margin: 0%;
}

.landing-header h1 {
    font-size: 24px; 
    
}

.landing-content h2 {
    font-size: 20px; 
    margin-top: 50px;
    margin-bottom: 10px;
}

.landing-content h3 {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.landing-btn {
    background-color: #3c3c3b;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    width: 100%; 
}

.landing-btn:hover {
    background-color: #1e1e1d;
}

.landing-register-btn {
    margin-right: 10px;
}
